@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  font-family: "Quicksand";
  background: var(--Bg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: var(--white);
}
.centered {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.tech {
  padding-top: 10vw;
  height: 30vw;
  margin-bottom: 15vw;
}
.cimke {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}
